---
// Component Imports
import MainLayout from "@/layouts/main.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { projects } from "@/data/projects";

const content = {
  title: "Frontend Showcase",
  description:
    "An app that shows many of the frontend projects and components that I have built.",
};
---

<MainLayout content={content}>
  <header class="custom-container space-y-10">
    <h1 data-text="Frontend Showcase" class="heading-frontend-showcase">Frontend Showcase</h1>
    <p class="text-center text-[1.1rem]">
      A collection of some of my frontend projects and experiments
    </p>
  </header>

  <main class="custom-container py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        projects.map((project, index) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            href={project.href}
            index={index}
          />
        ))
      }
    </div>
  </main>
</MainLayout>
