---
import "@/assets/css/coin-burst/styles.css";
// Component Imports
import MainLayout from "@/layouts/main.astro";

// Image Imports
import coinImg from "@/assets/images/coin-burst/coin.gif";
import bombImg from "@/assets/images/coin-burst/bomb.gif";

// Audio Imports
import coinMp3 from "@/assets/audio/coin-burst/coin.mp3";
import coinOgg from "@/assets/audio/coin-burst/coin.ogg";
import bombMp3 from "@/assets/audio/coin-burst/bomb.mp3";
import bombOgg from "@/assets/audio/coin-burst/bomb.ogg";

// Page Metadata
const content = {
  title: "Coin Burst | Frontend Showcase",
  description:
    "A simple game where you hover over coins to score points and avoid bombs.",
};

// Pass image and audio URLs to the script
const script = `
  window.gameAssets = {
    coin: "${coinImg.src}",
    bomb: "${bombImg.src}",
    coinMp3: "${coinMp3}",
    coinOgg: "${coinOgg}",
    bombMp3: "${bombMp3}",
    bombOgg: "${bombOgg}",
  };
`;
---

<MainLayout content={content}>
  <div id="root"></div>
  <script set:html={script} />
  <script src="./script.js"></script>
</MainLayout>
